@font-face {
   font-family: 'DINPro-Light';
   font-display: swap;
   src: url('file:///Users/przpgo/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2024-05-30_141556/fonts/DINPro-Light/font.woff2');
}
